*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
  background-color: #f6f8fc;
  color: #333;
  line-height: 1.6;
}
header{
  background-color: #037ef3;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}
main{
  background-color: white;
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 10 4px 10px rgba(0, 0, 0, 0.1);
}
h2,h3{
  color: #004aad;
  margin-bottom: 1rem;
}
ul{
  padding-left: 30px;
  margin-bottom: 1rem;
}
ul{
  padding-left: 40px;
  margin-bottom: 1rem;
}
footer{
  background-color: #004aad;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 1rem;
  font-size: 0.9rem;  
}
.apply{
  background-color: #004aad;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1cm;
  font-size: 0.9rem;
}
.footer-column{
  margin: 1rem;
}
.footer-column h4{
  margin-bottom: 1rem;
}
.footer-column ul{
  list-style: none;
  padding: 0;
}
.footer-column ul li{
  margin-bottom: 0.5rem;
}
.footer-note{
  text-align:center;
  width: 100%;
  margin-top: 2rem;
  border-top: 1px solid white;
  padding-top: 1rem;
}